In [1]:
import pandas as pd
import numpy as np

modifiedCases_2020=pd.read_csv("COVID19 cases Toronto.csv")

In [2]:
modifiedCases_2020._id.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
14906    False
14907    False
14908    False
14909    False
14910    False
Name: _id, Length: 14911, dtype: bool

In [3]:
modifiedCases_2020._id.duplicated().sum()
modifiedCases_2020.duplicated()
modifiedCases_2020.loc[modifiedCases_2020.duplicated(), :]

(14911, 17)

In [4]:
modifiedCases_2020.loc[modifiedCases_2020.duplicated(keep='first'), :]
modifiedCases_2020.loc[modifiedCases_2020.duplicated(keep='last'), :]
modifiedCases_2020.loc[modifiedCases_2020.duplicated(keep=False), :]

Empty DataFrame
Columns: [_id, Outbreak Associated, Age Group, Neighbourhood Name, FSA, Source of Infection, Classification, Episode Date, Reported Date, Client Gender, Outcome, Currently Hospitalized, Currently in ICU, Currently Intubated, Ever Hospitalized, Ever in ICU, Ever Intubated]
Index: []

In [5]:
modifiedCases_2020.drop_duplicates(keep='first').shape
modifiedCases_2020.drop_duplicates(keep='last').shape
modifiedCases_2020.drop_duplicates(keep=False).shape

(14911, 17)