In [22]:
import pandas as pd
df=pd.read_csv("LatestCases2020.csv")
df.head()

     _id Age Group CurrentlyHospitalized CurrentlyInICU
0  44294     50-59                    No             No
1  44295     20-29                   Yes             No
2  44296     60-69                    No            Yes
3  44297     50-59                   Yes            Yes
4  44298     30-39                    No             No

In [23]:
inputs=df.drop('_id',axis='columns')
target=df['_id']

In [24]:
target

0     44294
1     44295
2     44296
3     44297
4     44298
5     44299
6     44300
7     44301
8     44302
9     44303
10    44304
11    44305
12    44306
13    44307
14    44308
15    44309
16    44310
17    44311
18    44312
Name: _id, dtype: int64

In [25]:





from sklearn.preprocessing import LabelEncoder

In [10]:
le_Age Group=LabelEncoder()
le_CurrentlyHospitalized=LabelEncoder()
le_CurrentlyInICU=LabelEncoder()

In [26]:

inputs['Age Group_n']=le_AgeGroup.fit_transform(inputs['Age Group'].astype(str))
inputs['CurrentlyHospitalized_n']=le_CurrentlyHospitalized.fit_transform(inputs['CurrentlyHospitalized'])
inputs['CurrentlyInICU_n']=le_CurrentlyHospitalized.fit_transform(inputs['CurrentlyInICU'])
inputs.head()

,Age Group,CurrentlyHospitalized,CurrentlyInICU,Age Group_n,CurrentlyHospitalized_n,CurrentlyInICU_n
0,50-59,No,No,3,0,0
1,20-29,Yes,No,1,1,0
2,60-69,No,Yes,4,0,1
3,50-59,Yes,Yes,3,1,1
4,30-39,No,No,2,0,0

In [28]:
inputs_n=inputs.drop(['Age Group','CurrentlyHospitalized','CurrentlyInICU'],axis='columns')
inputs_n

    Age Group_n  CurrentlyHospitalized_n  CurrentlyInICU_n
0             3                        0                 0
1             1                        1                 0
2             4                        0                 1
3             3                        1                 1
4             2                        0                 0
5             1                        2                 0
6             4                        0                 0
7             2                        0                 1
8             2                        0                 0
9             0                        1                 0
10            2                        0                 0
11            1                        0                 1
12            2                        1                 0
13            2                        0                 1
14            5                        0                 0
15            5                        0                 1
16            3                        0                 0
17            2                        0                 1
18            1                        1                 0

In [29]:
from sklearn import tree

In [16]:
model=tree.DecisionTreeClassifier()

In [30]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [31]:
model.score(inputs_n,target)

0.6842105263157895

In [36]:
model.predict([[5,0,1]])

array([44309], dtype=int64)